#Shop
{
    height: 100%;
    width: 33%;
}

#HeadSpan
{
    font-size: 50px;
    margin-left: 30%;
}

.ShopElement
{
    width: 100%;
    height: 80px;
    margin-top: 2%;
    background-color: red;
    display: flex;
}

#FirstBuy
{
    height: 65px;
    width: 15%;
    margin-top: 7.5px;
    margin-left: 10px;
    background-color: lime;
}

.SecondBlockForBuy
{
    height: 65px;
    width: 55%;
    margin-top: 7.5px;
    margin-left: 10px;
    background-color: lime;
    display: flex;
}

.TextBlockForBuy
{
    height: 65px;
    width: 50%;
}

.Name
{
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}

.Price
{
    margin-top: 5px;
    font-size: larger;
    text-align: center;
    vertical-align: top;
}

.ImageBlockForBuy
{
    height: 65px;
    width: 20%;
    margin-top: 7.5px;
    margin-left: 15px;
    background-color: aqua;
}

